!!! XML
!!! Strict
%html
  %head
    %title B'More Guests
    = stylesheet_link_tag ['compiled/screen', 'formtastic', 'compiled/formtastic_changes'], :media => 'screen, projection'#, :cache => 'screen_cache'
    = stylesheet_link_tag 'compiled/print', :media => 'print'#, :cache => 'print_cache'
    = yield :styles
    /[if < IE 8]
      = stylesheet_link_tag 'compiled/ie', :media => 'screen, projection'

  %body
    = yield
